/* Copyright ©, 2019, Eric Warncke. ericwarncke@gmail.com */

.pagewrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	font-family: arial;
}
.formwrapper {
    max-width: 1200px;
    margin: 0 auto;
}
form div {
    float: left;
    width: 100%;
}
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
form {
	position: relative;
}
#outputcontainer {
	border: 1px solid #444;
	background: #ededed;
	padding: 30px;
	margin: 30px 0;
}
input.submitbutton {
    font-weight: bold;
    padding: 10px 45px;
    font-size: 28px;
    background: #be9c62;
    color: #fff;
    margin: 40px 0 60px;
	cursor: pointer;
}
input[type="reset"] {
    background: #777;
    color: #fff;
    font-weight: bold;
    padding: 10px 45px;
    font-size: 28px;
    cursor: pointer;
}
#nextBlock {
	width: 100%;
	display: none;
	margin-top: 15px;
	position: relative;
}
#nextBlock p {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;
    float: left;
    width: 100%;
}
#nextBlock textarea, #nextBlock .questionTwo input, #nextBlock .altNames input, #nextBlock .questionTwoA input, #nextBlock .questionFour input, #nextBlock .questionSix input, #nextBlock .questionSeven input, #nextBlock .questionEight input, #nextBlock .questionTen input, #nextBlock .questionEleven input, #nextBlock .questionTwelve input, #nextBlock .questionThirteen input, #nextBlock .questionFourteen input, #nextBlock .questionFifteen input, #nextBlock .questionSixteen input, #nextBlock .questionSeventeen input, #nextBlock .questionEighteen input, #nextBlock .questionNineteen input {
	height: 100%;
	width: 100%;
	border: 1px solid #ccc;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    background: #eef7fa;
}
textarea {
	resize: none;
}
input, textarea {
    background: #fff;
}
input {
    padding: 10px;
	margin-bottom: 10px;
}
input[type="radio"] {
    margin-bottom: 0;
}
label {
    line-height: 25px;
}
.textareabox * {
	vertical-align: middle;
	width: 100%;
}
.textareabox {
	margin-top: 15px;
}
#productcondition, #altnamesul, #addreviewsul {
	display: none;
}
a.addreviewschema, a.addaltNames {
    background: #497980;
    letter-spacing: 0.7px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    text-transform: uppercase;
    float: left;
    text-align: center;
    width: 320px;
    font-weight: bold;
    font-size: 17px;
    font-family: arial;
    border-radius: 50px;
}
.addmorecontainer {
    width: 100%;
    float: left;
}
ul.individualreviews {
    margin: 0 0 10px 0;
    list-style: none;
    padding: 0;
	float: left;
    width: 100%;
}
ul.altNames {
    margin: 20px 0 10px;
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;
}
ul.individualreviews li {
    margin-bottom: 30px;
	float: left;
}
.questionOne p {
    margin-top: 40px;
    font-weight: bold;
}
.questionTwo {
    margin-top: -15px;
}
form h2, .deletewrapper {
    width: 100%;
    float: left;
}
a.deletereviewschema {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    margin: -35px 0 20px 30px;
    float: left;
}
a.deletealtname {
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    font-weight: 600;
    font-size: 14px;
    margin: -5px 0 20px 0;
    float: left;
    border-radius: 20px;
}
#addAltNamesButtonContainer {
    margin-top: 15px;
}
#addreviewsul h4 {
    font-size: 22px;
    margin-bottom: 0;
    background: #497980;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    margin-top: 0;
	float: left;
    width: 100%;
}
#addAltNamesButton {
	display: block;
}
#addreviewsul li .footer-schema {
    border: 2px solid #497980;
    width: auto;
    margin-top: 0;
}
.reviewsquestions {
    padding: 20px 30px 45px 30px;
    float: left;
    width: auto;
}
ul.altNames li label {
    width: 100%;
    float: left;
}
@media (max-width: 450px) {
	input.submitbutton, input[type="reset"] {
		width: 50%;
		margin: 30px 0 40px 0;
	    padding: 20px 0;
		float: left;
	}
	a.addreviewschema, a.addaltNames {
		width: 100%;
	}
}
